<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='author' content='HashiCorp'>
    <meta name='generator' content='middleman/spike'>
    <meta name='theme-color' content='#000'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <!-- TODO - migration -->
    <meta name='google-site-verification' content='bhmwbK-FtO4cxD1W4bEuV_amr_WKNhSFNuZ37dExOt8'>

    <%= dato_favicon_meta_tags %>

    <%= yield_content :head %>

    <!-- TODO - migration -->
    <link rel="stylesheet" href="https://use.typekit.net/wxf7mfi.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' >
    <link href='/css/global.css' rel='stylesheet'>
    <link href='/css/site.css' rel='stylesheet'>
    <%= yield_content :style %>
  </head>
  <body id="<%= body_id_for(current_page) %>">

    <hashi-nav _data='<%= encode(dato.global_navigation) %>'></hashi-nav>
    <main><%= yield %></main>
    <hashi-footer _data="<%= encode(dato.global_footer) %>"></hashi-footer>

    <div id='outdated'>
      <h6>Your browser is out-of-date!</h6>
      <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
      <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>

    <script src='/js/vendor/outdated.js'></script>
    <script>
      function addLoadEvent(o){var n=window.onload;"function"!=typeof window.onload?window.onload=o:window.onload=function(){n&&n(),o()}}addLoadEvent(function(){outdatedBrowser({bgColor:"#f25648",color:"#ffffff",lowerThan:"transform",languagePath:"your_path/outdatedbrowser/lang/en.html"})});
    </script>

    <script src='/js/commons.js' defer></script>
    <script src='/js/main.js' defer></script>

    <%= yield_content :scripts %>

    <script>
      // analytics.js
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("<%= segmentId %>");
      analytics.page();
      }}();
    </script>
  </body>
</html>
